:root {
  --font-family: 'OblivionFont', sans-serif;
  --font-color: #e8e6e3;
  --background-gradient: radial-gradient(circle at center, #c61aff, #4e0066);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: var(--font-family);
  color: var(--font-color);
  background: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden; 
}

main {
  min-height: 100vh;
  height: auto;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 600px) {
  main {
    padding: 0.25rem;
  }
}

.title {
  font-size: 1.5rem;
  opacity: 0.8;
}

.emoji {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem;
  animation: pulse 2s infinite;
}

.social-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.social-links a {
  color: var(--font-color);
  transition: transform 0.1s ease-in-out, opacity 0.1s;
}

.social-links a:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.game {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.player {
  position: absolute;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 2.5rem;
  transition: left 0.1s linear;
}

.bullet {
  position: absolute;
  font-size: 1.5rem;
  transform: translateX(-50%);
}

.name,
.title,
.social-links-wrapper {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.exiting .name,
.exiting .title {
  transform: translateX(-100vw);
  opacity: 0;
}

.exiting .social-links-wrapper {
  transform: translateX(100vw);
  opacity: 0;
}

.exiting .emoji {
  animation: fly-to-bottom 0.5s ease-in forwards;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes fly-to-bottom {
  0% {
    transform: translateY(0) scale(1.2);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateY(45vh);
    opacity: 0;
  }
}